/*CSS for Product Pages*/
html, body {
    margin: 0;
    padding: 0;
    border: 0; 
    vertical-align: baseline;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100px 20px 1000px 200px 400px;
    gap: 30px;
}

button:hover  {
    cursor: pointer;
}

.line {
    width: 100%;
    border-bottom: 1px lightgrey solid;
    opacity: .9;
}

/*Header*/
  
.header {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    background-color:  #466365;
}

.logo {
    margin-left: 5%;
    height: 75%;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.header img {
    max-height: 100px;
}

.material-symbols-outlined  {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 200,
  'opsz' 90
}

.icons {
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
}
.icons a {
    color: whitesmoke;
}


.icons span:hover {
    cursor: pointer;
    font-size: 1.75rem;
}

#search-bar {
    font-style: italic;
    visibility: hidden;
    width: 0%;
    background-color: #A0B2A6;
    padding: 0.3rem;
    border: none;
    border-radius: 5%;
}

.divider {
    grid-area: 2 / 1 / 2 / 4;
    margin-top: -30px;
    background-color:  #A0B2A6;
    display: flex;
    justify-content: center;
}

.services {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    display: flex;
    justify-content: space-between;
 }

 .deliver, .collect, .recycle {
    width: 30%;
    display: flex ;
    justify-content: space-around;
    align-items: center;
 }


nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 22px;
    padding-right: 10px;
    }

nav a + a::before {
    content: "|";
    padding-right: 10px;
}

a:hover {
    cursor: pointer;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

#clear {
    color: #F7934C;
}

#p-content {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20px 600px 350px;
    gap: 25px;
}

#breadcrumbs {
    grid-area: 1 / 1 / 2/ 3;
    height: 20px;
    border-bottom: 1px lightgrey solid;
    display: flex;
    align-items: flex-end;
}
.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    width: 50%;
    list-style-type: none;
}

.breadcrumbs a {
    text-decoration: none;
    color: #466365;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

.breadcrumbs li+li::before {
    padding: 10px;
  content: ">";
  color: #466365;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#home {
    font-weight: bold;
}


/*Product Display Section*/

/*.product {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
}*/
.p-images {
    grid-area: 2 / 1 / 3 / 2;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p-sale {
    grid-area: 2 / 2 / 4 / 3;
}

.sidebar   {
    width: 85%;
    height: 100%;
    margin-left: 15%;
}

#p-sale-box {
    border-radius: 1%;
    background-color: #A0B2A6;
    opacity: .9;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 10%;
}

#prod-img {
    background-image: url(./images/Banner\ Image.jpg);    
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 80%;
    border-radius: 1%;
}

#thumb-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 18%;
}

.thumbnails{
    width: 18%;
    height: 100%;
    border-radius: 5%;    
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

#thumb-1 {
    background-image: url(./images/Banner\ Image.jpg);
}

#thumb-2 {
    background-image: url(./images/thumb-bed-1.jpg);
}

#thumb-3 {
    background-image: url(./images/thumb-bed-2.jpg);
}

/*Purchasing Section*/

#text {
    font-family: "Raleway";
    color: whitesmoke;
}

#text h1 {
    font-size: 1.75rem;
}

#price {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#shipping {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

#collection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    
}
#text span {
    color: #466365;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 40%;
}

#add-basket {
    border: none;
    color: whitesmoke;
    background-color: #466365;
    font-size: 1.2rem;
    height: 35%;
}

#size {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

#size label {
    font-family: "Raleway";
    color: whitesmoke;
}

/* Description Section */
.details {
    grid-area: 3 / 1 / 4 / 4;
    height: 350px;
    width: 55%;
    margin-top: 30px;
}

#head-tag {
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-family: "raleway";
}
.h-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47.5%;
    height: 98%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;    
    border: 2px #466365 solid;
    cursor: pointer;
}
#h-details {
    background-color: #466365;
    color: whitesmoke;
}
#h-reviews {
    color: #466365;
}

#content {
    height: 90%;
    margin-top: 1px;
    
}
.content-box {
    border: 2px #466365 solid;    
    height: 90%;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}
.c-text {
    padding: 1.5rem 3rem 0rem 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

#c-subhead{
    padding-left: 2.5rem;
}


#c-reviews {
    display: none;
}

#star {
    color: gold;
    font-weight: 900;
    font-variation-settings: 'FILL' 1;
}

.recommended {
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-top: 1px lightgrey solid;
    grid-area: 4 / 2 / 5 / 3;
}

.recommended h2 {
    font-family: "Raleway";
    color: #466365;
}

#related-box {
    display: flex;
    justify-content: space-around;
    height : 80%;
}

.related {
    width: 25%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.related img {
    width: 100%;
    border-bottom: 1px lightgrey solid; 
    padding-bottom: 0.5rem;
}

.related h3, h4 {
    color: #466365;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5rem;
}

/*Footer*/

footer {
    grid-area: 5 / 1 / 6 / 4;
    padding-top: 2%;
    background-color:#466365;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 10% 2fr 1fr 2fr 1fr 2fr 10%;
    grid-row: 9fr 1fr 2fr;
}

.f-title {
    font-family: "Raleway";
    text-decoration: underline;
    font-size: 1.3rem;
}

#f-address {
    grid-area: 1 / 2 / 2 / 3 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#f-address img {
    width: 75%;
}

#f-contact {
    grid-area: 1 / 4 / 2 /5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#social {
    font-size: 1.5rem;
    color: whitesmoke;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

#social i:hover {
    cursor: pointer;
    color:#A0B2A6;
}

#f-link {
    grid-area: 1 / 6 / 2 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway";
}


#f-link ul {
    height: 80%;
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

#f-link a {
    text-decoration: none;;
    font-size: 1rem;
    width: 140%;
    text-align: center;
    color: whitesmoke;
}

#f-link a:hover {
    text-decoration: underline;
    color:#A0B2A6
}

#f-line {
    grid-area: 2 / 2 / 3 /7;
}

#company {
    grid-area: 3 / 2 / 4 /3;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

#VAT {
    grid-area: 3 / 4 / 4 / 5;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

#links {
    grid-area: 3 / 6 / 4 / 7;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

#links a {
    color:whitesmoke;
}
