html, body {
    margin: 0;
    padding: 0;
    border: 0; 
    vertical-align: baseline;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100px 20px 1500px 400px;
    gap: 30px;
}

button:hover  {
    cursor: pointer;
}

/*Header*/
  
.header {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    background-color:  #466365;
}

.logo {
    margin-left: 5%;
    height: 90%;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.header img {
    max-height: 100px;
}

.header a  {
    text-decoration: none;
}

.material-symbols-outlined  {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 200,
  'opsz' 90
}

.icons {
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
}
.icons a {
    color: whitesmoke;
}


.icons span:hover {
    cursor: pointer;
    font-size: 1.75rem;
}

#search-bar {
    font-style: italic;
    visibility: hidden;
    width: 0%;
    background-color: #A0B2A6;
    padding: 0.3rem;
    border: none;
    border-radius: 5%;
}

.divider {
    grid-area: 2 / 1 / 2 / 4;
    margin-top: -30px;
    background-color:  #A0B2A6;
    display: flex;
    justify-content: center;
}

.services {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    display: flex;
    justify-content: space-between;
 }

 .deliver, .collect, .recycle {
    width: 30%;
    display: flex ;
    justify-content: space-around;
    align-items: center;
 }


nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 22px;
    padding-right: 10px;
    }

nav a + a::before {
    content: "|";
    padding-right: 10px;
}

a:hover {
    cursor: pointer;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

#clear {
    color: #F7934C;
}

/*Main*/

.content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    height: 70vh;
    width: 100%;
    background-image: url("./images/Banner Image.jpg");    
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2%;
}

.banner h2 {
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.banner h3 {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    color: #F7934C;
    margin: 0;
    padding: 0;
}

.promo {
    background-color:#466365;
    opacity: .85;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 3px white solid;
    }

.promo-amount {
    display: flex;
    align-items: center;
    color: #F7934C;
    height: 15%;
    opacity: 1;
}

.promo-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

#promo-amount {
    font-size: 4rem;
    font-family:  'EB Garamond', serif;
    padding-right: .5rem;
   
}

.promo-sym {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
#promo-off{
    margin: 0;
    padding: 0;    
    font-family:  'EB Garamond', serif;
}

#promo-text {
    color: whitesmoke;
    font-family:  'EB Garamond', serif;
}

.promo button  {
    background-color: #A0B2A6;
    box-shadow: none;
    color: darkslategray;
    font-weight: bold;
    border: 2px whitesmoke solid;
    padding: 0.5rem 1rem;
    border-radius: 5%;
}

.line {
    width: 100%;
    border-bottom: 1px lightgrey solid;
    opacity: .9;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width: 100%;
    font-family: "Raleway";
    color: #466365;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80%;
}

@media only screen and (max-width: 1864px) and (min-height: 700px) {
    .container {
        grid-template-rows: 100px 20px 1800px 400px;
    }
    
}
@media only screen and (min-height: 1150px) {
    .container {
        grid-template-rows: 100px 20px 2000px 400px;
    }
}

@media only screen and (min-height: 1450px) {
    .container {
        grid-template-rows: 100px 20px 2200px 400px;
    }
}

@media only screen and (min-height: 1850px) {
    .container {
        grid-template-rows: 100px 20px 2400px 400px;
    }
}

.products p {
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 1.5rem;
    opacity: 1;
}

.cat{
    width: 350px;
    height: 250px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border-radius: 5%;
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.cat:hover {
    cursor: pointer;
}

.cat-head{
    background-color: #466365;
    width: 100%;
    opacity: .75;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    text-align: center;
    visibility: hidden;
}

#mattress {
    background-image: url("./images/cat-images/mattress-1.jpg");
}

#bed {
    background-image: url("./images/cat-images/bed-2.jpg");
}

#pillow {
    background-image: url("./images/cat-images/pillow-2.jpg");
}

#duvet {
    background-image: url("./images/cat-images/duvet-1.jpeg");

}

#bedding {
    background-image: url("./images/cat-images/bedding.jpg");
}

.clearance {
    width: 350px;
    height: 250px;
    background-color: #F7934C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.clearance p {
    font-size: 3rem;
}

.clearance:hover {
    font-weight: bold;
    cursor: pointer;
}


/*Footer*/

footer {
    grid-area: 4 / 1 / 4 / 4;
    padding-top: 2%;
    background-color:#466365;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 10% 2fr 1fr 2fr 1fr 2fr 10%;
    grid-row: 9fr 1fr 2fr;
}

.f-title {
    font-family: "Raleway";
    text-decoration: underline;
    font-size: 1.3rem;
}

#f-address {
    grid-area: 1 / 2 / 2 / 3 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#f-address img {
    width: 75%;
}

#f-contact {
    grid-area: 1 / 4 / 2 /5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#social {
    font-size: 1.5rem;
    color: whitesmoke;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

#social i:hover {
    cursor: pointer;
    color:#A0B2A6;
}

#f-link {
    grid-area: 1 / 6 / 2 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway";
}


#f-link ul {
    height: 80%;
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

#f-link a {
    text-decoration: none;;
    font-size: 1rem;
    width: 140%;
    text-align: center;
    color: whitesmoke;
}

#f-link a:hover {
    text-decoration: underline;
    color:#A0B2A6
}

#f-line {
    grid-area: 2 / 2 / 3 /7;
}

#company {
    grid-area: 3 / 2 / 4 /3;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

#VAT {
    grid-area: 3 / 4 / 4 / 5;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

#links {
    grid-area: 3 / 6 / 4 / 7;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

#links a {
    color:whitesmoke;
}
